// colors
$color-primary: #664de5;
$color-danger: #EA352B;
$color-grey: #afb6c3;
$color-light-grey: #f8f9fc;
$color-success: #21CD3E;

// font color
$color-white: #ffffff;
$color-sub-white: #FEFEFE;
$color-text-white: #F5F5F5;
$color-black: #000000;
$color-sub-black: #666666;

// font weight
$text-bold: 700;
$text-medium: 400;



//fonts
$display-serif: 'DM Serif Display',
serif;
$display-inter: 'Inter',
sans-serif;